html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#main{
  position:absolute;
  width:100%;
  height:100%;
  background: whitesmoke;
  background-size: cover;
  overflow:hidden;
}

.container{
  position: absolute;
  width: 41%;
  height: 88%;
  background: whitesmoke;
  margin: 4% 5%;
  border-style: solid;

}

#notmap{
    border-left: 2px solid black;
    padding-left: 2%;

}

#ismap{
  right:0;  
}

#nycopen{
  width: 400px;
  height: 158px;
  margin: auto;
  position: relative;
  display: block;
}

#herokulogo{
  width: 283px;
  height: 118px;
  margin: auto;
  position: relative;
  display: inline-block;
}

#reactlogo{
  width: 151px;
  height: 108px;
  margin: auto;
  position: relative;
  display: inline-block;
}

#plotlylogo{
  width: 118px;
  height: 108px;
  margin: auto;
  position: relative;
  display: inline-block;
}
#title{
      font-family: "Times New Roman", Times, serif;
    font-size: 2em;
    margin: 6% 0 4%;
}
button:focus {outline:0;}

h2{
  margin:2% 0 ;
}

#back{
  padding: 0;
  border: none;
  background: none;
}

#next{
  padding: 0;
  border: none;
  background: none;
}

.progressbutton{
  font-family: "Times New Roman", Times, serif;
  font-size: 2em;
  transition: .2s;
  margin: 24% 1% 0%;
}

.mapbutton{
  font-size: 2em;
  transition: .2s;
  margin: 0% 1% 0%;
  z-index: 1000;
}


.progressbutton:hover{
 transform: scale(1.1);
}

#iframe{
  width:100%;
  height:100%;
}

.dots button{
  position:relative;
  height:10%;
  width:10%;
  
  border-radius: 1px;
  border: 1px solid black;
  
}

.dotcontainer{
  left: -7%;
  width: 10px;
  height: 100px;
  position: absolute;

}

 .dotbutton {
  position: relative;
  margin: 9px 0;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  background: black;
  transition:.2s;
}

.carousel__dot--selected{
  background: white;

} 


h2,h3{
  font-family: "Times New Roman", Times, serif;
}

h2{
  font-size:1.9em;
}

h3{
  font-size:1.3em;
  font-weight:lighter;
}


#page5{
  margin: 4% 0%
}